<%
page.layout = "author"
page.title = theme.author.title || __('author.title')
page.subtitle = theme.author.subtitle || __('author.subtitle')
page.banner_img = theme.author.banner_img
page.banner_img_height = theme.author.banner_img_height
page.banner_mask_alpha = theme.author.banner_mask_alpha
%>

<div class="row author">
  <% for(const each of theme.author.items || []) { %>
  <% if (!each.title) continue %>
  <% if (each.title == 'insu') {%>
    <div class="card col-lg-12 col-md-12 col-sm-12">
      <div class="list-group">
          <p class="h2" style="font-weight: bold; padding-left: 16px">Guest Editor</p>
      </div>
    </div>
  <% } %>
  <div class="card col-lg-12 col-md-12 col-sm-12">
    <a href="<%= url_for('tags/'+each.title) %>" class="card-body hover-with-bg" target="_top" rel="noopener">
      <div class="card-content">
        <% if (each.image) { %>
        <div class="link-avatar my-auto">
          <img src="<%= each.image %>" alt="<%= each.title %>" />
        </div>
        <% } %>
        <div class="link-text">
          <div class="link-title"><%- each.title %></div>
          <div class="link-intro"><%- each.intro %></div>
          <div class="link-info"><i class="iconfont icon-mail"></i> <%- each.email %></div>
          <div class="link-info"><i class="iconfont icon-github-fill"></i> <%- each.git %></div>
          <!-- <div class="link-intro"><%- each.intro2 %></div> -->
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>