<%
page.layout = "author"
page.title = theme.author.title || __('author.title')
page.subtitle = theme.author.subtitle || __('author.subtitle')
page.banner_img = theme.author.banner_img
page.banner_img_height = theme.author.banner_img_height
page.banner_mask_alpha = theme.author.banner_mask_alpha
%>

<div class="row author">
  <% for(const each of theme.author.items || []) { %>
  <% if (!each.title || !each.link) continue %>
  <div class="card col-lg-6 col-md-6 col-sm-12">
    <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
      <div class="card-content">
        <% if (each.image) { %>
        <div class="link-avatar my-auto">
          <img src="<%= each.image %>" alt="<%= each.title %>" />
        </div>
        <% } %>
        <div class="link-text">
          <div class="link-title"><%- each.title %></div>
          <div class="link-intro"><%- each.intro1 %></div>
          <div class="link-intro"><%- each.intro2 %></div>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>