<%
if (theme.index.slogan.enable) {
  page.subtitle = theme.index.slogan.text || config.subtitle || ''
}
page.banner_img = theme.index.banner_img
page.banner_img_height = theme.index.banner_img_height
page.banner_mask_alpha = theme.index.banner_mask_alpha
%>

<% dataA = site.categories.find({name: '1day1line'}) %>
<% dataB = site.categories.find({name : 'Research'}) %>
<% dataC = site.categories.find({name : 'Translation'}) %>

<div class="list-group">
  <a href="/categories/1day1line/">
    <p class="h2" style="font-weight: bold; padding-left: 16px">최신 하루한줄</p>
  </a>
  <hr>
</div>

<% dataA.each(function (cat) { %>
  <% var limit = 3 %>
  <% var posts = cat.posts.sort(config.index_generator.order_by || '-date') %>
  <div class="row mx-auto index-card">
    <div class="col-12 col-md-4 m-auto index-img">
      <a href="/categories/1day1line/" target="#">
        <img src="/img/1day1line.png" alt="#">
      </a>
    </div>
    <div class="col-12 col-md-8 m-auto">
      <% for (var idx = 0; idx < posts.length; idx++) { %>
        <% var post = posts.data[idx] %>
        <% var post_url = url_for(post.path), index_img = post.index_img || theme.index.post_default_img %>
        <% if (idx && limit && idx >= limit) { %>
          <% break %>
        <% } else { %>
          <article class="col-12 col-md-12 mx-auto index-info">
            <a href="<%- url_for(post.path) %>" class="index-header">
              <span class="archive-post-title" style="font-size: 16px"><%= post.title %></span>
            </a>
            <div>
              <a href="<%= url_for('tags/'+post.author) %>">
                <i class="iconfont icon-user-fill"></i>
                <span><%= post.author %></span>
              </a>
              <i class="iconfont icon-date" style="padding-left: 16px;"></i>
              <time><%- date(post.date, "MM-DD") %></time>
            </div>
          </article>
        <% } %>
      <% } %>
    </div>
  </div>
<% }) %>
<hr>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- hackyboiz_horizen_index -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3672652207808168"
     data-ad-slot="8887862313"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="list-group" style="padding-top: 16px;">
  <a href="/categories/Research/">
    <p class="h2" style="font-weight: bold; padding-left: 16px">최신 연구자료</p>
  </a>
  <hr>
</div>

<% dataB.each(function (cat) { %>
  <% var limit = 3 %>
  <% var posts = cat.posts.sort(config.index_generator.order_by || '-date') %>
  <% for (var idx = 0; idx < posts.length; idx++) { %>
    <% var post = posts.data[idx] %>
    <% if (idx && limit && idx >= limit) { %>
      <% break %>
    <% } else { %>
      <div class="row mx-auto index-card">
      <% var post_url = url_for(post.path), index_img = post.index_img || theme.index.post_default_img %>
      <% if(index_img) { %>
        <div class="col-12 col-md-4 m-auto index-img">
          <a href="<%- post_url %>" target="<%- theme.index.post_url_target %>">
            <img src="<%- url_for(index_img) %>" alt="<%= post.title %>">
          </a>
        </div>
      <% } %>
      <article class="col-12 col-md-<%= index_img ? '8' : '12' %> mx-auto index-info">
        <h1 class="index-header">
          <a href="<%- post_url %>"><%= post.title %></a>
        </h1>
  
        <p class="index-excerpt">
          <a href="<%- post_url %>">
            <% var excerpt = '' %>
            <% if(post.excerpt) { %>
              <% excerpt = strip_html(post.excerpt).substr(0, 200) %>
            <% } else if(theme.index.auto_excerpt.enable){ %>
              <% excerpt = strip_html(post.content).substr(0, 200) %>
            <% } %>
            <%- excerpt %>
          </a>
        </p>
  
        <div class="index-btm post-metas">
          <% if(post.author) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-user-fill"></i>
              <a href="<%= url_for('tags/'+post.author) %>">
                <%- post.author %>
              </a>
            </div>
          <% } %>
          <% if(theme.index.post_meta.date ) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-date"></i>
              <time datetime="<%= full_date(post.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
                <%- date(post.date, config.date_format) %>
              </time>
            </div>
          <% } %>
          <% if(theme.index.post_meta.category && post.categories.length > 0) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-category"></i>
              <% post.categories.each(function(cate){ %>
                <a href="<%= url_for(cate.path) %>"><%- cate.name %></a>
              <% }) %>
            </div>
          <% } %>
          <% if(theme.index.post_meta.tag && post.tags.length > 0) { %>
            <div class="post-meta">
              <i class="iconfont icon-tags"></i>
              <% post.tags.each(function(tag){ %>
                <a href="<%= url_for(tag.path) %>"><%- tag.name %></a>
              <% }) %>
            </div>
          <% } %>
        </div>
      </article>
    </div>
    <% } %>
  <% } %>
<% }) %>
<hr>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- hackyboiz_horizen_index -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3672652207808168"
     data-ad-slot="8887862313"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="list-group" style="padding-top: 16px;">
  <a href="/categories/Translation/">
    <p class="h2" style="font-weight: bold; padding-left: 16px">최신 번역자료</p>
  </a>
  <hr>
</div>

<% dataC.each(function (cat) { %>
  <% var limit = 3 %>
  <% var posts = cat.posts.sort(config.index_generator.order_by || '-date') %>
  <% for (var idx = 0; idx < posts.length; idx++) { %>
    <% var post = posts.data[idx] %>
    <% if (idx && limit && idx >= limit) { %>
      <% break %>
    <% } else { %>
      <div class="row mx-auto index-card">
      <% var post_url = url_for(post.path), index_img = post.index_img || theme.index.post_default_img %>
      <% if(index_img) { %>
        <div class="col-12 col-md-4 m-auto index-img">
          <a href="<%- post_url %>" target="<%- theme.index.post_url_target %>">
            <img src="<%- url_for(index_img) %>" alt="<%= post.title %>">
          </a>
        </div>
      <% } %>
      <article class="col-12 col-md-<%= index_img ? '8' : '12' %> mx-auto index-info">
        <h1 class="index-header">
          <a href="<%- post_url %>"><%= post.title %></a>
        </h1>
  
        <p class="index-excerpt">
          <a href="<%- post_url %>">
            <% var excerpt = '' %>
            <% if(post.excerpt) { %>
              <% excerpt = strip_html(post.excerpt).substr(0, 200) %>
            <% } else if(theme.index.auto_excerpt.enable){ %>
              <% excerpt = strip_html(post.content).substr(0, 200) %>
            <% } %>
            <%- excerpt %>
          </a>
        </p>
  
        <div class="index-btm post-metas">
          <% if(post.author) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-user-fill"></i>
              <a href="<%= url_for('tags/'+post.author) %>">
                <%- post.author %>
              </a>
            </div>
          <% } %>
          <% if(theme.index.post_meta.date ) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-date"></i>
              <time datetime="<%= full_date(post.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
                <%- date(post.date, config.date_format) %>
              </time>
            </div>
          <% } %>
          <% if(theme.index.post_meta.category && post.categories.length > 0) { %>
            <div class="post-meta mr-3">
              <i class="iconfont icon-category"></i>
              <% post.categories.each(function(cate){ %>
                <a href="<%= url_for(cate.path) %>"><%- cate.name %></a>
              <% }) %>
            </div>
          <% } %>
          <% if(theme.index.post_meta.tag && post.tags.length > 0) { %>
            <div class="post-meta">
              <i class="iconfont icon-tags"></i>
              <% post.tags.each(function(tag){ %>
                <a href="<%= url_for(tag.path) %>"><%- tag.name %></a>
              <% }) %>
            </div>
          <% } %>
        </div>
      </article>
    </div>
    <% } %>
  <% } %>
<% }) %>
<hr>

<div class="list-group">
  <a href="<%- url_for('archives') %>" class="list-group-item list-group-item-action">
    <p class="h2" style="padding-left: 16px">♚♚hacky☆boiz♚♚클릭시$$해킹 관련 지식☜☜100% 공유※ ♜매일매일♜최신 해킹 동향 전달￥ 매주§§해킹 관련 컨텐츠3§§★업로드★@@@ 즉시이동</p>
  </a>
  <hr>
</div>